---
http_interactions:
- request:
    method: get
    uri: https://names.geo.core.io/search.php?addressdetails=1&city=garmisch-partenkirchen&countrycode=de&format=jsonv2&state=&street=grossglocknerstrasse
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sun, 16 Oct 2022 08:54:26 GMT
- request:
    method: get
    uri: https://names.geo.core.io/search.php?addressdetails=1&city=entenhausen&countrycode=de&format=jsonv2&state=&street=hauptstrasse
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sun, 16 Oct 2022 08:54:26 GMT
- request:
    method: get
    uri: https://names.geo.core.io/search.php?addressdetails=1&city=frankfurt&countrycode=de&format=jsonv2&state=hessen&street=kopernikusstrasse
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"place_id":"50151380","licence":"Data © OpenStreetMap contributors,
        ODbL 1.0. https:\/\/osm.org\/copyright","osm_type":"way","osm_id":"8099620","boundingbox":["50.1045327","50.1063245","8.5393963","8.5403614"],"lat":"50.1054634","lon":"8.5397621","display_name":"Kopernikusstraße,
        Höchst, Frankfurt, Regierungsbezirk Darmstadt, Hessen, 65929, Deutschland","place_rank":"26","category":"highway","type":"residential","importance":0.30000000000000004,"address":{"road":"Kopernikusstraße","suburb":"Höchst","city_district":"Höchst","city":"Frankfurt","state_district":"Regierungsbezirk
        Darmstadt","state":"Hessen","postcode":"65929","country":"Deutschland","country_code":"de"}}]'
  recorded_at: Sun, 16 Oct 2022 08:54:27 GMT
- request:
    method: get
    uri: https://names.geo.core.io/search.php?addressdetails=1&city=simmern&countrycode=de&format=jsonv2&state=&street=gemuendener+strasse
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"place_id":"66762947","licence":"Data © OpenStreetMap contributors,
        ODbL 1.0. https:\/\/osm.org\/copyright","osm_type":"way","osm_id":"132450832","boundingbox":["49.9116899","49.9126947","7.5055842","7.5059025"],"lat":"49.9121417","lon":"7.5056846","display_name":"Gemündener
        Straße, Layenkaul, Mengerschied, Simmern, Rhein-Hunsrück-Kreis, Rheinland-Pfalz,
        55490, Deutschland","place_rank":"26","category":"highway","type":"secondary","importance":0.2,"address":{"road":"Gemündener
        Straße","suburb":"Layenkaul","village":"Mengerschied","county":"Rhein-Hunsrück-Kreis","state":"Rheinland-Pfalz","postcode":"55490","country":"Deutschland","country_code":"de"}},{"place_id":"76931633","licence":"Data
        © OpenStreetMap contributors, ODbL 1.0. https:\/\/osm.org\/copyright","osm_type":"way","osm_id":"207325426","boundingbox":["49.9796489","49.9807736","7.5219746","7.5237457"],"lat":"49.9801804","lon":"7.5228116","display_name":"Gemündener
        Straße, Simmern\/Hunsrück, Simmern, Rhein-Hunsrück-Kreis, Rheinland-Pfalz,
        55469, Deutschland","place_rank":"26","category":"highway","type":"tertiary","importance":0.2,"address":{"road":"Gemündener
        Straße","city":"Simmern\/Hunsrück","county":"Rhein-Hunsrück-Kreis","state":"Rheinland-Pfalz","postcode":"55469","country":"Deutschland","country_code":"de"}}]'
  recorded_at: Sun, 16 Oct 2022 08:54:27 GMT
- request:
    method: get
    uri: https://names.geo.core.io/search.php?addressdetails=1&city=garmisch-partenkirchen&countrycode=de&format=jsonv2&state=&street=zugspitzstrasse
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"place_id":"85272136","licence":"Data © OpenStreetMap contributors,
        ODbL 1.0. https:\/\/osm.org\/copyright","osm_type":"way","osm_id":"264336274","boundingbox":["47.4853939","47.4854974","11.0675605","11.0677252"],"lat":"47.4853939","lon":"11.0675605","display_name":"Zugspitzstraße,
        Garmisch-Partenkirchen, Landkreis Garmisch-Partenkirchen, Obb, Bayern, 82467,
        Deutschland","place_rank":"26","category":"highway","type":"primary","importance":0.30000000000000004,"address":{"road":"Zugspitzstraße","town":"Garmisch-Partenkirchen","county":"Landkreis
        Garmisch-Partenkirchen","state_district":"Obb","state":"Bayern","postcode":"82467","country":"Deutschland","country_code":"de"}},{"place_id":"57886674","licence":"Data
        © OpenStreetMap contributors, ODbL 1.0. https:\/\/osm.org\/copyright","osm_type":"way","osm_id":"61334903","boundingbox":["47.4840557","47.484565","11.0646411","11.0652056"],"lat":"47.4842992","lon":"11.064936","display_name":"Zugspitzstraße,
        Garmisch-Partenkirchen, Landkreis Garmisch-Partenkirchen, Obb, Bayern, 82467,
        Deutschland","place_rank":"27","category":"highway","type":"service","importance":0.275,"address":{"road":"Zugspitzstraße","town":"Garmisch-Partenkirchen","county":"Landkreis
        Garmisch-Partenkirchen","state_district":"Obb","state":"Bayern","postcode":"82467","country":"Deutschland","country_code":"de"}}]'
  recorded_at: Sun, 16 Oct 2022 08:54:27 GMT
- request:
    method: get
    uri: https://names.geo.core.io/search.php?addressdetails=1&city=gemuenden&countrycode=de&format=jsonv2&state=&street=zeilbaum
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"place_id":"60095647","licence":"Data © OpenStreetMap contributors,
        ODbL 1.0. https:\/\/osm.org\/copyright","osm_type":"way","osm_id":"84209494","boundingbox":["49.8947388","49.8953817","7.4818698","7.4831537"],"lat":"49.8952299","lon":"7.4821868","display_name":"Zeilbaum,
        Gemünden, Kirchberg (Hunsrück), Rhein-Hunsrück-Kreis, Rheinland-Pfalz, 55490,
        Deutschland","place_rank":"26","category":"highway","type":"residential","importance":0.2,"address":{"road":"Zeilbaum","village":"Gemünden","county":"Rhein-Hunsrück-Kreis","state":"Rheinland-Pfalz","postcode":"55490","country":"Deutschland","country_code":"de"}}]'
  recorded_at: Sun, 16 Oct 2022 08:54:28 GMT
recorded_with: VCR 6.1.0
